# Telegram Bot API URL. The offical server is used and you shouldn't change this value.
BOT_API=https://api.telegram.org/bot

# Telegram Bot Token. Register your bot here @BotFather and get it.
BOT_TOKEN=7976164431:AAHDxhsazEvHvg0TLqZpFBoKsxW18z6s5C8
